/* Game board */
.game__flipper-container,
.game__flipper,
.game__box-front,
.game__box-back,
.picture {
	width: 19vw;
	height: 19vw;
}

.game__flipper-container {
  margin: 1.7vw;
}

.game {
  width: 90vw;
  height: 90vw;
}

.stats__stars-container,
.stats__time-container,
.stats__move-container,
.stats__replay-container {
  width: 25%;
  height: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

.game__box-back {
  background-size: 19vw;
}


/* Winning screen */
.repeat-button__container {
  width: 32px;
  height: 32px;
}

.win-stats {
  width: 80%;
}


/* Tag selectors */
h1 {
  width: 100%;
  margin: auto;
}

header {
  width: 100%;
}
