/* Header */
.header__container {
  width: 100%;
  height: 70px;
}


/* Game board */
.game {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  width: 560px;
  height: 560px;
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  padding: 10px;
  border-radius: 10px;
}

.game__flipper-container {
  perspective: 1000px;
  margin: 10px;
}

.flip {
  transform: rotateY(180deg);
}

.game__flipper-container,
.game__flipper,
.game__box-front,
.game__box-back {
	width: 120px;
	height: 120px;
  border-radius: 10px;
}

.game__box-back {
  background-size: 120px;
}

.game__flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

.game__box-front,
.game__box-back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.game__box-front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
  background-color: #333
}

.game__box-back {
	transform: rotateY(180deg);
}

.stats__stars-container,
.stats__time-container,
.stats__move-container,
.stats__replay-container {
  width: 25%;
  height: 50px;
}


/* Winning screen */
.winning-screen__container {
  width: auto;
  height: 30%;
  margin-top: 20vw;
}

.button__container {
  margin: auto;
  width: 50%;
  height: 33%;
}

.stars {
  margin: auto;
  text-align: center;
  margin-top: 10px;
}

.repeat-button__container {
  width: 50px;
  height: 50px;
  margin: auto;
  background-repeat: no-repeat;
  background-position: center;
}

.congrat__container {
  font: normal normal 400 200%/normal "Quicksand", sans-serif;
  width: 100%;
  margin: auto;
  text-align: center;
  animation: bounce 0.5s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.5,0.05,1,.5);
  animation-iteration-count: infinite;
}

.win-stats {
  font: normal normal 400 110%/normal "Quicksand", sans-serif;
  width: 50%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.win-stats__stars,
.win-stats__move,
.win-stats__time {
  width: 33%;
}


/* Tag selectors */
header {
  display: flex;
  flex-wrap: wrap;
  width: 568px;
  margin: auto;
}

h1 {
  width: 40%;
  margin: auto;
  text-align: center;
  font: normal normal 400 200%/normal "Quicksand", sans-serif;
}

h3 {
  margin: auto;
  margin-top: 10px;
  text-align: center;
  font: normal normal 400 110%/normal "Quicksand", sans-serif;
}

button {
  margin: auto;
  margin-top: 10%;
  width: 150px;
  border-radius: 8px;
  padding: 10px;
  font-size: 15px;
  color: white;
  display: block;
  background-color: #0fb8ad;
  border: 0;
}


/* Webkit animation */
@keyframes bounce {
  from { transform: translate3d(0, -50px, 0);     }
  to   { transform: translate3d(0, 30px, 0); }
}

/* Prefix Support */
ball {
  -webkit-animation-name: bounce;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: cubic-bezier(.5,0.05,1,.5);
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes bounce {
  from { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
  to   { -webkit-transform: translate3d(0, 200px, 0); transform: translate3d(0, 200px, 0); }
}
